.slick-prev
{
    left: 20px;
    z-index: 1;
}
[dir='rtl'] .slick-prev
{
    right: 20px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: 20px;
    z-index: 1;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 20px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}
.slick-initialized .slick-slide
{
    display: block;
    margin-left: 3px;
}